ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    position: sticky;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #454544;
  }
  
  input{
  margin:14px;
  border-radius:0px;
  padding: 10px;
  width:275%;
  }

  input:hover{
      border: rgb(0, 0, 1,);
  }

  img{
      padding-right: 5px;
      
  }
  hr{ 
      opacity: 0.5;
  }

  .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 34%;
    margin-left:170px;
  }
  
  .li {
    float: left;
  }
  
  .li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .li a:hover:not(.active) {
      background-color: white;
    color: #0000fa;
  }
  #content{
      margin-left: 170px;
      position: static;
  }

  section{
      padding-top: 30px;
      padding-bottom: 0;
  }

  h3{
    color: #0000fa;
  }

  h5{
    color: green;
    
  }
  p{
    color: rgb(68, 67, 67);
  }

  table{
    border: 20px;
  }
  td{
    padding: 0 200px 0 20px;
    font-size: 28px;
  }
  section{
    line-height: 0.5;
  }

  section h5{
    margin-top: -4px;
    margin-bottom: -5px;
  }

  .table{
    line-height: 1.6;
  }
  tr{
    border: 0;
    
  }