ul li{
    list-style: none;
    display: inline-block;
}
.logo{
    display: inline-block;
}
.searchbox{
    width: 600px;
    display: inline-block;
}

.searchbox input{
    width: 600px;
    
}
.search-button, .keyboard{
    float: right;
    position: relative;
    bottom: 25px;
}
.search-button{
    bottom: 20px;
}
.keyboard{
    bottom: 20px;
}
.right-nav{
    float: right;
    position: relative;
    bottom: 100px;
}
.bottom-left, .bottom-right{
    display: inline-block;
}